*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav-list-item:active {
  color: #404bbf;
}
.nav-list-item:focus {
  color: #404bbf;
}
.nav-list-item:hover {
  color: #404bbf;
}

.nav-list-item:hover:after {
  color: #404bbf;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  top: 100%;
  transform: translateY(-100%);
}
.address {
  font-style: normal;
  margin-left: auto;
  align-items: center;
}
.address-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.address-list-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item:active {
  color: #404bbf;
}
.address-list-item:focus {
  color: #404bbf;
}
.address-list-item:hover {
  color: #404bbf;
}

/*header*/
/*section1*/
.title-section {
  max-width: 1140px;
  margin: auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-solutions {
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}
.solutions-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  color: #ffffff;
  border-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-btn:hover {
  background-color: #404bbf;
}
.solutions-btn:focus {
  background-color: #404bbf;
}

/*section1*/

/*section2*/

.solutions-title {
  background-color: #ffffff;
  padding: 120px 0;
}

.solutions-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.solutions-list-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin: 0 auto;
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.solution-title-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}
.solutions-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
}

/*solutions*/

/*section 3 our team*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-container {
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}
.team-list {
  display: flex;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.all-team-text {
  padding: 32px 0;
}

.team-names {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}
.team-profession {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
}

.all-team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon-item {
  display: flex;
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 60%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-container:hover {
  background-color: #404bbf;
}
.team-icon-container:focus {
  background-color: #404bbf;
}
/*section3 portfolio*/
.portfolio-section {
  padding: 120px 0;
}

.portfolio-container {
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}

.portfolio-list-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-list {
}
.portfolio-all-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  min-width: 360px;
}
.portfolio-names {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
}

.portfolio-list-item .under-cover {
  position: relative;
  overflow: hidden;
}

.under-cover {
}

.cover-text-container {
  background: #4d5ae5;
  position: absolute;
  margin: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 32px 164px;
  transform: translateY(100%);
  transition: transform 250ms;
}

.portfolio-list-item:hover .cover-text-container {
  transform: translateY(0);
}

.cover-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*footer*/

.footer-container {
  display: flex;
  align-items: baseline;
}

.left-footer {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-f {
  color: #f4f4fd;
  display: inline-block;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}

.footer-address-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.all-footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.footer-icon-container {
  background-color: #4d5ae5;
  border-radius: 50%;
  cursor: pointer;
}

.icon-link:hover {
  background-color: #31d0aa;
}

.icon-link:focus {
  background-color: #31d0aa;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-icon {
  fill: #f4f4fd;
}
